{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié - {{ parent() }}{% endblock %}

{% block content %}
    <body class="bg-gradient-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-12 col-md-9">
                    {% for type, messages in app.flashes() %}
                        {% for message in messages %}
                            <div class="alert alert-{{ type }} alert-dismissible fade show mt-5" role="alert">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="card o-hidden border-0 shadow-lg my-5">
                        <div class="card-body p-0">
                            <div class="row">
                                <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <div class="text-center">
                                            <h1 class="h4 text-gray-900 mb-2">Mot de passe oublié ?</h1>
                                            <p class="mb-4">Ça arrive ! Entrez simplement votre adresse e-mail ci-dessous et nous vous enverrons un lien pour réinitialiser votre mot de passe !</p>
                                        </div>
                                        {{ form_start(form, {'attr': {'class': 'user mb-4'}}) }}
                                            <div class="form-group">
                                                {{ form_widget(form.email, {'attr': {'class': 'form-control-user'}}) }}
                                            </div>
                                            <button type="submit" class="btn btn-primary btn-user btn-block">
                                                Changer mon mot de passe
                                            </button>
                                        {{ form_end(form) }}
                                        <hr>
                                        <div class="text-center">
                                            <a class="small" href="{{ path('app_registration_register') }}">Créer un compte</a>
                                        </div>
                                        <div class="text-center">
                                            <a class="small" href="{{ path('app_security_login') }}">Se connecter</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}