{% extends 'base.html.twig' %}

{% block title %}Inscription - {{ parent() }}{% endblock %}

{% block content %}
    <body class="bg-gradient-primary">
        <div class="container">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-5">Créer un compte</h1>
                                </div>
                                {% for flashError in app.flashes('verify_email_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                {% endfor %}
                                {{ form_start(registrationForm, {'attr': {'class': 'user mb-4'}}) }}
                                    <div class="form-group mb-4">
                                        <label for="registration_form_username" class="sr-only">Pseudo</label>
                                        {{ form_widget(registrationForm.username, {'attr': {'class': 'form-control-user'}}) }}
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="registration_form_email" class="sr-only">Email</label>
                                        {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control-user'}}) }}
                                    </div>
                                    <div class="form-group mb-4">
                                        <label for="registration_form_plainPassword" class="sr-only">Mot de passe</label>
                                        {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control-user'}}) }}
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Créer mon compte
                                    </button>
                                {{ form_end(registrationForm) }}
                                <hr>
                                <div class="text-center">
                                    <a class="small" href="{{ path('app_security_forgotpassword') }}">Mot de passe oublié ?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="{{ path('app_security_login') }}">Se connecter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
